@model PhonebookApplication.Models.Newdata

@{
    ViewBag.Title = "User";
}

<h2>User</h2>
<div>
    Name : @Model.Name <br />
    Address_line_1:@Model.Address_line_1 <br />
    Address_line_2: @Model.Address_line_2 <br />
    City : @Model.City <br />
    Pincode : @Model.Pincode <br />
    Phonenumber : @Model.Phonenumber <br />
</div>


